# Project exclude paths
/structura_liniara/Task1/main.js
/structura_liniara/Task2/main.js
/structura_liniara/Task3/main.js
/structura_liniara/Task4/main.js
/structura_liniara/Task5/main.js
/structura_liniara/Task6/main.js
/structura_liniara/Task7/main.js
/structura_liniara/Task8/main.js
/structura_liniara/Task9/main.js
/structura_liniara/Task10/main.js
/structura_liniara/Task11/main.js
/structura_liniara/Task12/main.js
/structura_liniara/Task13/main.js
/structura_liniara/Task14/main.js
/structura_liniara/Task15/main.js